BRAND_NAME="fast vpn"
TG_CHANNEL=@FastVPN
MAIN_KB_INLINE=true
TELEGRAM_BOT_TOKEN=telegram_bot_token
MYSQL_USER=root
MYSQL_PASS=root
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=vpn
STORAGE_CHANNEL_ID=@chanelid
DEFAULT_ADMIN_USERNAME=admin
PANEL_URL=https://example.com/
PANEL_SUB_URL=example.com
PANEL_SUB_PORT=8443
PANEL_SUB_PATH="/sub/"
PANEL_JSON_SUB_PATH="/json/"
PANEL_USERNAME=admin
PANEL_PASSWORD=admin
CONFIG_HOST=example.com

WALLET_INIT_BALANCE=10000